.watch-movie-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    grid-template-rows: repeat(3, auto); 
    gap: 20px; 
    padding: 20px;
    justify-items: center;
  }
  
  .watch-movie {
    text-align: center;
    background-color: #f0f0f0; 
    border-radius: 10px; 
    padding: 10px;
    width: 200px;
  }
  .watch-movie:hover {
    opacity: 0.5;
    border: #e0e0e0 solid 1px;
    cursor: pointer;
  }
  
  .poster-movie {
    width: 100%; 
    height: auto; 
    border-radius: 5px; 
  }
  
  h3 {
    font-size: 16px; 
    margin-top: 10px; 
    color: #333;
  }
  
  
